* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.auth_container {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    overflow-x: hidden;
}

#modal_container, #nav_container {
    position: absolute;
}
#nav_container {
    right: 0;
}

/* Modal styles */
#modal_container {
    position: absolute;
    width: 100vw;
    height: 96%;
    background-color: #fff;
    z-index: 999;
    transition: ease .2s;
}
.modal_header {
    padding: 1em 2em 0;
    display: flex;
    justify-content: space-between;
}
.modal_body {
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.content {
    display: flex;
    width: 200%;
    margin-left: 0;
    transition: ease-out .2s;
}
.modal_open {
    top: 0;
}
.modal_closed {
    display: none;
    top: -100%;
}

/* Form styles */
.signin, .signup {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
}
.auth_form {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.auth_input {
    /* width: 100%; */
    padding: 8px 10px;
    margin: 8px 0;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #000;
}
.auth_input:focus {
    background-color: #fff;
    border: 1px solid gray;
}
.auth_btn {
    width: 10em;
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px auto;
    border: none;
    background-color: gray;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.auth_btn:hover {
    background-color: #fff;
    border: 1px solid gray;
    color: #000;
}
.auth_redirect {
    padding: 1em 0;
}
.auth_redirect p, .auth_redirect button {
    font-size: 14px;
    display: inline;
}
.auth_redirect button  {
    text-decoration: underline;
}

/* side nav */
.side_nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 0 12px #ddd;
    z-index: 999;
}
.side_nav_open {
    right: 0;
}
.side_nav_closed {
    display: none;
    right: -100%;
}
.side_nav_header {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}
.side_nav_body {
    padding: .5em 2em;
}
.side_nav_links {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    color: #111;
}
.side_nav_header .user_email {
    color: gray;
    padding: 5px 10px;
    font-weight: 400;
}

/* Cart Component */
.cart-icon {
    position: relative;
    margin: 5px 10px;
    width: 1.5em;
    height: 1.5em;
    font-size: 16px;
    cursor: pointer;
}
.cart-icon-count {
    position: absolute;
    padding: 2px;
    height: 18px;
    width: 18px;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    background-color: #ff5555;
}


/* different button styles */
.link_btn {
    width: max-content;
    padding: 4px;
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.redirect_btn {
    color: #0000ff;
}
.redirect_btn:hover {
    text-decoration: underline;

}

.error {
    padding: 2px;
    color: #ff0000;
    font-size: 12px;
}

.secondary {
    padding: 5px 0;
    width: 100%;
    display: flex;
    font-size: 14px;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .secondary {
        flex-direction: row;
        justify-content: space-between;
    }
    .side_nav {
        width: 40%;
    }
}

@media only screen and (min-width: 769px) {
    .side_nav {
        width: 30%;
    }
}

@media only screen and (min-width: 1025px) {
    .side_nav {
        width: 20%;
    }
}
