* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

.header {
    box-shadow: 0 3px 15px gray; 
    display: flex;
    justify-content: space-between;
}

#modal_container {
    position: absolute;
    width: 100vw;
    height: 96%;
    background-color: #fff;
    transition: ease .2s;
}
.modal_header {
    padding: 1em 2em 0;
    display: flex;
    justify-content: space-between;
}

.modal_body {
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.content {
    display: flex;
    width: 200%;
    margin-left: 0;
    transition: ease-out .2s;
}
.closed {
    top: -100%;
}
.open {
    top: 0;
}

.signin, .signup {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
}

.auth_form {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.auth_input {
    /* width: 100%; */
    padding: 8px 10px;
    margin: 8px 0;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #000;
}
.auth_input:focus {
    background-color: #fff;
    border: 1px solid gray;
}
.auth_btn {
    width: 10em;
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px auto;
    border: none;
    background-color: gray;
    color: #fff; 
    border-radius: 2px;
    cursor: pointer;
}
.auth_btn:hover {
    background-color: #fff;
    border: 1px solid gray;
    color: #000;
}
.auth_redirect {
    padding: 1em 0;
}
.auth_redirect p, .auth_redirect button {
    font-size: 14px;
    display: inline;
}
.auth_redirect button  {
    text-decoration: underline;
}

.link_btn {
    width: max-content;
    padding: 4px;
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.redirect_btn {
    color: #0000ff;
}
.redirect_btn:hover {
    text-decoration: underline;

}

.secondary {
    padding: 5px 0;
    width: 100%;
    display: flex;
    font-size: 14px;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .secondary {
        flex-direction: row;
        justify-content: space-between;
    }
}